In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [ ]:
df = pd.read_csv("data.csv")
df

                                                   URLs  ... Label
0     http://www.bbc.com/news/world-us-canada-414191...  ...     1
1     https://www.reuters.com/article/us-filmfestiva...  ...     1
2     https://www.nytimes.com/2017/10/09/us/politics...  ...     1
3     https://www.reuters.com/article/us-mexico-oil-...  ...     1
4     http://www.cnn.com/videos/cnnmoney/2017/10/08/...  ...     1
...                                                 ...  ...   ...
4004  http://beforeitsnews.com/sports/2017/09/trends...  ...     0
4005  http://beforeitsnews.com/u-s-politics/2017/10/...  ...     0
4006  https://www.activistpost.com/2017/09/ron-paul-...  ...     0
4007  https://www.reuters.com/article/us-china-pharm...  ...     1
4008  http://beforeitsnews.com/u-s-politics/2017/10/...  ...     0

[4009 rows x 4 columns]

In [ ]:
print(df.info())
print('-------------------------------------------------------')
print(df.isna().sum())
print('-------------------------------------------------------')
print(df['Label'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   URLs      4009 non-null   object
 1   Headline  4009 non-null   object
 2   Body      3988 non-null   object
 3   Label     4009 non-null   int64
dtypes: int64(1), object(3)
memory usage: 125.4+ KB
None
-------------------------------------------------------
URLs         0
Headline     0
Body        21
Label        0
dtype: int64
-------------------------------------------------------
0    2137
1    1872
Name: Label, dtype: int64

In [ ]:
# df = df.dropna()
# print(df.isna().sum())
# df[df.isna() == True]
print(df.isna())

       URLs  Headline   Body  Label
0     False     False  False  False
1     False     False  False  False
2     False     False  False  False
3     False     False  False  False
4     False     False  False  False
...     ...       ...    ...    ...
4004  False     False  False  False
4005  False     False  False  False
4006  False     False   True  False
4007  False     False  False  False
4008  False     False  False  False

[4009 rows x 4 columns]

In [ ]:
df['Body_Parsed_1'] = df['Body'].str.replace("\r", " ")
df['Body_Parsed_1'] = df['Body_Parsed_1'].str.replace("\n", " ")
df['Body_Parsed_1'] = df['Body_Parsed_1'].str.replace('"', '')

signs = ['?', ',', ':', '!', '.', ';', '«', '»', '(', ')', '*', '+', '-', '^', '|', '=', "’", "‘",  '”', '—', '@', '>', '<', '–', '&', '%', '•', '/', '“']
for punct_sign in signs:
    df['Body_Parsed_1'] = df['Body_Parsed_1'].str.replace(punct_sign, ' ')

df['Body_Parsed_1'] = df['Body_Parsed_1'].str.replace("'s" , "s")
df['Body_Parsed_1'] = df['Body_Parsed_1'].str.replace("'t" , "t")
df['Body_Parsed_1'] = df['Body_Parsed_1'].str.replace("  " , " ")
df['Body_Parsed_1'] = df['Body_Parsed_1'].str.replace("  " , " ")

df['Body_Parsed_1'][5]

'JetNation FanDuel League Week 4 of readers think this story is Fact Add your two cents Before Its News Our FanDuel league is back again this week Here are the details $900 in total prize money $250 to the winner $10 to enter Remember this is a one week league pick your lineup against the salary cap and next week if you want to play again you can pick a completely different lineup if you want Click this link to enter http fanduel com JetNation You can discuss this with other NY Jets fans on the Jet Nation message board Or visit of on Facebook Source http www jetnation com 2017 09 27 jetnation fanduel league week 4 '

In [ ]:
df['Body_Parsed_2'] = df['Body_Parsed_1'].str.lower()

In [ ]:
# здесь проверяем + исправляем орфографию

In [ ]:
!pip install pymorphy2
from pymorphy2 import MorphAnalyzer
ma = MorphAnalyzer()

Requirement already satisfied: pymorphy2 in /usr/local/lib/python3.7/dist-packages (0.9.1)
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.6.2)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (2.4.417127.4579844)
Requirement already satisfied: dawg-python>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from pymorphy2) (0.7.2)

In [ ]:
lemmatized_text = []
for i in range(len(df)):
    lemmatized_words = []

    text_in_words = df.loc[i]['Body_Parsed_2'].split(' ')
    # print(text_in_words)

    for word in text_in_words:
        lemma = ma.parse(word)
        lemmatized_words.append(lemma[0].normal_form)

    text = " ".join(lemmatized_words)
    lemmatized_text.append(text)

df['Body_Parsed_3'] = lemmatized_text

AttributeError: ignored

In [ ]:
import nltk
from nltk.corpus import stopwords

nltk.download("stopwords")
english_stopwords = stopwords.words("english")

for stop_word in english_stopwords:
    stopword = r"\b" + stop_word + r"\b"
    df['Body_Parsed_3'] = df['Body_Parsed_3'].str.replace(stopword, '')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

KeyError: ignored

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

# text_parsed = cv.fit_transform(text_parsed)

In [ ]:
text_parsed = df.drop(['URLs', 'Headline', 'Body', 'Body_Parsed_1'], axis = 1) # еще 'Body_Parsed_2'
text_parsed

      Label                                      Body_Parsed_2
0         1  image copyright getty images on sunday morning...
1         1  london reuters “last flag flying a comedy dram...
2         1  the feud broke into public view last week when...
3         1  mexico city reuters egypt s cheiron holdings l...
4         1  country singer jason aldean who was performing...
...     ...                                                ...
4004      0  trends to watch of readers think this story is...
4005      0  trump jr is soon to give a 30 minute speech fo...
4006      0                                                NaN
4007      1  shanghai reuters china said it plans to accept...
4008      0  vice president mike pence leaves nfl game beca...

[4009 rows x 2 columns]